/* Begin pagination */
div.pagination{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 5px;
}
.pagenav , .pageactive{
	padding: 2px 3px;
    border: 1px solid #ccc;
    color: #222;
	margin-right: 4px;
}
.pagenav:hover{
	color: #cf2129!important;
}
.pagecureent{
	background: none repeat scroll 0 0 #ddd;
    font-weight: bold;
}
/* End pagination */
.grdpoll { width:380px;}
.grdpoll .btnsel {padding-left:21px; background:url(/images/icons/no.png) no-repeat left center; color:Black; text-decoration:none;}
.grdpoll .sel { background-color:#ffffcc;color:Black; text-decoration:none;}
.grdpoll .sel .btnsel { padding-left:21px; background:url(/images/icons/yes.png) no-repeat left center; color:Black; text-decoration:none;}
.cvb { background-color:#606060; color:White; padding:3px 5px; text-decoration:none; margin-top:20px;}
.vote_chonlayout img { height:16px; width:16px; margin:5px; background-image:url(/images/vote/btn1_c.png); cursor:pointer;}
.vote_chonlayout .cl1 { background-position:0 0;}
.vote_chonlayout .cl2 { background-position:-16px 0;}
.vote_chonlayout .cl3 { background-position:-32px 0;}
.vote_chonlayout .cl4 { background-position:-48px 0;}
.vote_chonlayout .cl5 { background-position:-64px 0;}
.vote_chonlayout .cl6 { background-position:-80px 0;}


.vcnt_1 {color:#333333; border-left: solid 1px #d1d1d1; border-right: solid 1px #d1d1d1; float: left; width: 173px; background:#eeeedd; font-size:12pt; font-family:Times New Roman;}
.vcnt_2 {color:#333333;border-left: solid 1px #d1d1d1; border-right: solid 1px #d1d1d1; float: left; width: 173px; background:#eadf90; font-size:12pt; font-family:Times New Roman;}
.vcnt_3 {color:#fff;border-left: solid 1px #d1d1d1; border-right: solid 1px #d1d1d1; float: left; width: 173px; background:#01cdc7; font-size:12pt; font-family:Times New Roman;}
.vcnt_4 {color:#fff;border-left: solid 1px #d1d1d1; border-right: solid 1px #d1d1d1; float: left; width: 173px; background:#b957ae; font-size:12pt; font-family:Times New Roman;}
.lanvander{float: left; width: 177px; text-align:left; margin:0px 10px; }
.lanvander p{font-weight:bold;padding-left:7px; text-align:left;margin:0px;}

.embedvcnt_1 {color:#333333;background:#eeeedd;  font-size:12pt; font-family:Times New Roman;}
.embedvcnt_2 {color:#333333;background:#eadf90;  font-size:12pt; font-family:Times New Roman;}
.embedvcnt_3 {color:#fff;background:#01cdc7;  font-size:12pt; font-family:Times New Roman;}
.embedvcnt_4 {color:#fff;background:#b957ae;  font-size:12pt; font-family:Times New Roman;}
.voteembed{width:98%; overflow:hidden;border: solid 1px #d1d1d1;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.voteembed .h3votetitle{font:700 12px/18px Tahoma; color:#9f0100; margin:5px 0px 0px 10px; padding:0px; height:10px;}
.voteembed p{font-weight:bold;padding-left:7px;}
.voteembed .bottomroom{width:98%; overflow:hidden}

#global_header .container.header {
	margin-top: 0px;
    padding-top: 8px;
}
#global_page_default-index-index .swiper-container .swiper-pagination {
	position: absolute;
    text-align: right;
    left: inherit;
    top: 10px;
    bottom: inherit;
}
#global_page_default-index-index .row .block_tin_tuc {
	height: 560px;
}
#global_page_default-index-index .span215.itemsbox {
	margin-right: 10px;
}
#global_page_default-index-index .span215.itemsbox:last-child {
	margin-right: 0px;
}
#global_page_default-index-index .row .block_video ul li:first-child{
	border: none;
}
div#vmcEmbed >div {
    margin-bottom: 20px;
}
div#vmcEmbed .embed-title {
    font-size: 16px;
    font-weight: bold;
}
.loading_more {
	text-align: center;
    padding: 20px;
}
.tip
{
  overflow: hidden;
  clear: both;
}
.tip > span
{
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 6px 6px;
  padding: 6px 6px 6px 27px;
  background-color: #faf6e4;
  float: left;
  margin-bottom: 15px;
  background-image: url(images/tip.png);
  border: 1px solid #e4dfc6;
}
div#page_content > div {
    padding: 20px 0px;
    border-top: 1px dotted;
}
div#page_content > div:first-child {
	padding-top: 0px;
    border-top: none;
}